<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <!-- Auth's official package has analytics dependencies; no analytics is requested here. -->
        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />
        <meta-data android:name="firebase_data_collection_default_enabled" android:value="false" />
    </application>
</manifest>
